{% capture iframeClasses %}shadow rounded-10 fade-in lazyload {{ include.pos | default: 'center' }}{% endcapture %}
{% capture iframeWidth %}{{ include.width | default: '100%' }}{% endcapture %}
{% capture iframeHeight %}{{ include.height | default: '100%' }}{% endcapture %}

{% capture iframeSrc %}
  {% assign iframeType = include.type | default: 'local' %}
  {% if iframeType == 'web' %}
    {{ include.url }}
  {% elsif iframeType == 'local' %}
    {{ site.baseurl }}/{{ include.url }}/index.html?content={{ include.content }}
  {% endif %}
{% endcapture %}

{% capture iframeBgColor %}
  {% if include.bgcolor %}
    {{ include.bgcolor }}
  {% else %}
    #fff
  {% endif %}
{% endcapture %}

<iframe src="{{ iframeSrc }}" class="{{ iframeClasses }}"
        style="border: 0 solid hsla(0, 0%, 0%, 0); overflow: hidden; margin: 0 auto; display: block; background-color: {{ iframeBgColor }};"
        scrolling="no" frameborder="0" 
        title="{{ include.title }}"
        width="{{ iframeWidth }}"
        height="{{ iframeHeight }}">
</iframe>

{% if include.legend %}
  <div class="text-center mt-2 fade-in" style="opacity: 0; visibility: hidden;" data-iframe-id="{{ include.title }}">
    <small class="text-muted">{{ include.legend }}</small>
  </div>
{% endif %}
